* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}



.page-title {
    background-color:#004175;
    color:white;
    font-family: Oswald, sans-serif;
    padding:2rem;
    border-style: none none solid none;
    border-width: medium;
    border-color: #89DEEF;
}

main {
    margin: 2rem;
}

.adopt-info {
    font-family: "Open Sans", sans-serif;
}

.adopt-info h2 {
    margin-bottom: 2rem;
}

.adopt-info p {
    margin-bottom: 1rem;
}


.dogs-list li {
    display: inline-flex;
    flex-flow: row wrap;
    list-style-type:none;
    background-color: #89DEEF;
    color:black;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    border-style: none;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    justify-content: flex-start;
    margin: 0.25rem 0.1rem;
}

.dogs-list {
    align-items: flex-start;
}

.dog {
    display: inline-flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    max-width: 30%;
    margin-bottom: 2rem;
}

.dog h3 {
      font-family: Oswald, sans-serif;
      width: 100%;
}


.blocks {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.block-1 {

    background: 
      linear-gradient(
        rgba(166, 169, 240, 0.5), 
        rgba(166, 169, 240, 0.5)
      ),
      /* bottom, image */
      url("starter_files/images/donate.jpg");
}

.block-2 {

    background: 
      linear-gradient(
        rgba(166, 169, 240, 0.5), 
        rgba(166, 169, 240, 0.5)
      ),
      /* bottom, image */
      url("starter_files/images/volunteer.jpg");
}

.block-3 {

    background: 
      linear-gradient(
        rgba(166, 169, 240, 0.5), 
        rgba(166, 169, 240, 0.5)
      ),
      /* bottom, image */
      url("starter_files/images/location.png");
}