* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/*  --HEADER--  */
.page-title {
    background-color:#004175;
    color:white;
    font-family: "Open Sans", sans-serif;
    padding:1.5rem;
    border-style: none none solid none;
    border-width: medium;
    border-color: #89DEEF;
}

main {
    margin: 2rem;
    max-width: 100%;
}

.adopt-info {
    font-family: "Open Sans", sans-serif;
}

.adopt-info h2 {
    margin-bottom: 2rem;
}

.adopt-info p { /* adoption info sentance */
    margin-bottom: 1rem;
}


/*  --DOG SECTION--  */
.dogs-list {   /*All dog cards*/
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: space-between;
}

.dogs-list li {   /*Dog traits*/
    display: inline-block;
    list-style-type:none;
    background-color: #89DEEF;
    color:black;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    border-style: none;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    justify-content: flex-start;
    margin: 0.25rem 0.1rem;
}

.dog {   /*Individual dog card*/
    width: 30%; /* <--for variable size */
    /* width: 300px; <--for variable positioning */
    margin: 0.25rem;
}

/* .dog:hover {
    width: 25%; 
} */

.dog h3 {      /*Dog names*/
      font-family: Oswald, sans-serif;
      width: 100%;
}



/* --FOOTER-- */

.footer-blocks {
    display: flex;
    flex-flow: nowrap;
}

.block {
    text-align: center;
    height: 350px;
    line-height: 350px;
    color: white;
    font-size: 2vw;
    font-family: "Open Sans", sans-serif;
}

.block-1 {

    background: 
      linear-gradient(
        rgba(166, 169, 240, 0.6), 
        rgba(166, 169, 240, 0.6)
      ),
      /* bottom, image */
      url("starter_files/images/donate.jpg") no-repeat center/cover;
      width: 33%;
}

.block-1:hover {   /*Lightens the gradient, makes the text a little larger*/
    font-size: 2.5vw;
    background:  
    linear-gradient(
      rgba(166, 169, 240, 0.4), 
      rgba(166, 169, 240, 0.4)
    ),
    /* bottom, image */
    url("starter_files/images/donate.jpg") no-repeat center/cover;
}

.block-2 {
    background: 
      linear-gradient(
        rgba(166, 169, 240, 0.6), 
        rgba(166, 169, 240, 0.6)
      ),
      /* bottom, image */
      url("starter_files/images/volunteer.jpg") no-repeat center/cover;
      width: 33%;
}

.block-2:hover {   /*Lightens the gradient, makes the text a little larger*/
    font-size: 2.5vw;
    background:  
    linear-gradient(
      rgba(166, 169, 240, 0.4), 
      rgba(166, 169, 240, 0.4)
    ),
    /* bottom, image */
    url("starter_files/images/volunteer.jpg") no-repeat center/cover;
}

.block-3 {
    background: 
      linear-gradient(
        rgba(166, 169, 240, 0.6), 
        rgba(166, 169, 240, 0.6)
      ),
      /* bottom, image */
      url("starter_files/images/location.png") no-repeat center/cover;
      width: 33%;
}

.block-3:hover {   /*Lightens the gradient, makes the text a little larger*/
    font-size: 2.5vw;
    background:  
    linear-gradient(
      rgba(166, 169, 240, 0.4), 
      rgba(166, 169, 240, 0.4)
    ),
    /* bottom, image */
    url("starter_files/images/location.png") no-repeat center/cover;
}
